<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="KMANNTest">
  <test name="KFMANNTestNg">
    <classes>
      <class name="mkm.formtest.AgendarFormTest"/>
      <class name="mkm.formtest.ConsultarReservaFormTest"/>
      <class name="mkm.formtest.AnularReservaFormTest"/>
    </classes>
  </test>
</suite>